@charset "utf-8";
/* CSS Document */
* {
  @include box-sizing(border-box);
}

$pad: 20px;

.grid {
  background: white;
  margin: 0 0 $pad 0;
  
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
	float: left;
  padding-right: $pad;
  .grid &:last-of-type {
  	padding-right: 0;
  }
}
.col-1-1 {
	width: 15%;
}
.col-1-2 {
	width: 20%;
}
.col-1-3 {
	width: 20%;
}
.col-1-4 {
	width: 10%;
}
.col-1-5 {
	width: 10%;
}
.col-1-6 {
	width: 12.5%;
}
.col-1-7 {
	width: 12.5%;
}

.module {
  padding: $pad;
  background: #333;
}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}